<?xml version="1.0"?>
<robot name="hamr" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="common_properties.xacro" /> 
    <xacro:include filename="hamr_sw_v_simplified.xacro" /> 
    <xacro:include filename="hamr_gazebo.xacro" />
    <xacro:include filename="camera.xacro" />

</robot>